*
{
    width:150px;
    font-weight:normal;
    color:#404040; /* gris foncé */
    color:#00ACE9; /* bleu */

    font-size:1em;
    font-family:arial, helvetica, sans-serif;
    text-align:right;
}