*
{
    width:120px;
    margin-left:200px;
    font-weight:normal;
    color:#404040; /* gris foncé */
    color:#00ACE9; /* bleu */
    color:#6A9A1F; /* vert */
    font-size:1.2em;
    font-family:arial, helvetica, sans-serif;
    text-align:right;
}